// Export just-the-docs theme colors as CSS custom properties for Monaco editor
:root {
    // Base colors (syntax highlighting colors are read from .highlight classes in DOM)
    --jtd-body-background-color: #{$body-background-color};
    --jtd-body-text-color: #{$body-text-color};
    --jtd-body-heading-color: #{$body-heading-color};
    --jtd-code-background-color: #{$code-background-color};
    --jtd-border-color: #{$border-color};
    --jtd-link-color: #{$link-color};
    --jtd-sidebar-color: #{$sidebar-color};
    --melbi-input-background-color: #{darken($body-background-color, 1%)};
}

// Melbi Playground Styles
#melbi-playground {
    max-width: 60rem; // 960px equivalent
    margin: 0 auto $sp-6;
    /* background-color: $code-background-color; */
    /* background-color: $feedback-color; */
    background-color: $sidebar-color;
    border-right: $border $border-color;
    border-left: $border $border-color;
    /* border: $border $border-color; */
    /* border-radius: $border-radius; */
    padding: $sp-3 $sp-4;
    /* box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.12),
        0 3px 10px rgba(0, 0, 0, 0.08); */
    box-shadow:
        2px 2px 2px rgba(0, 0, 0, 0.1),
        5px 5px 4px rgba(0, 0, 0, 0.02);

    .melbi-editor {
        width: 100%;
        height: 42px;
        border-radius: $border-radius;
        border: $border $border-color;
        background-color: darken($body-background-color, 1%);
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.03);
    }

    .melbi-output {
        margin-top: $sp-3;
        padding: $sp-2 $sp-3;
        background-color: darken($body-background-color, 1%);
        border: $border $border-color;
        border-radius: $border-radius;
        font-family: $mono-font-family;
        font-size: 1.25rem; // 20px
        color: $body-text-color;
        white-space: pre-wrap;
        word-break: break-word;
        display: flex;
        align-items: center;
        box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.03);

        .type {
            /* color: $grey-dk-000; */
            color: $feedback-color;
            font-size: $font-size-2; // 0.6875rem (11px)
            margin-left: $sp-2;
        }
    }

    .melbi-timing {
        text-align: right;
        padding-right: 2ex;
        font-size: $font-size-1; // 0.5625rem (9px)
        color: $grey-dk-000;
        font-family: $mono-font-family;
    }
}

[data-theme="dark"] .dark-hidden {
    display: none;
}

[data-theme="light"] .light-hidden {
    display: none;
}
