<script src="https://unpkg.com/lucide@latest"></script>
<script>
    function setTheme(theme) {
        var cssFile = document.querySelector('[rel="stylesheet"]');
        cssFile.setAttribute(
            "href",
            "/assets/css/just-the-docs-" + theme + ".css",
        );
        cssFile.addEventListener(
            "load",
            () => {
                window.dispatchEvent(new CustomEvent("jtd:theme-changed"));
            },
            { once: true },
        );
    }

    (() => {
        const currentTheme = jtd.getTheme();
        console.log("Current theme:", currentTheme, {
            css: document
                .querySelector('[rel="stylesheet"]')
                .getAttribute("href"),
        });
        if (
            localStorage.theme === "dark" ||
            (!("theme" in localStorage) &&
                window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
            document.documentElement.setAttribute("data-theme", "dark");
            if (currentTheme !== "dark") {
                console.log("Setting theme to dark");
                setTheme("dark");
            }
        } else {
            document.documentElement.setAttribute("data-theme", "light");
            if (currentTheme !== "light") {
                console.log("Setting theme to light");
                setTheme("light");
            }
        }
    })();
</script>

<script>
    function toggleTheme() {
        const html = document.documentElement;
        if (html.getAttribute("data-theme") === "dark") {
            html.setAttribute("data-theme", "light");
            localStorage.theme = "light";
            setTheme("light");
        } else {
            html.setAttribute("data-theme", "dark");
            localStorage.theme = "dark";
            setTheme("dark");
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        lucide.createIcons();
    });
</script>
